<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chap05-gson</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GsonTestServlet</display-name>
    <servlet-name>GsonTestServlet</servlet-name>
    <servlet-class>com.eunah.gson.GsonTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GsonTestServlet</servlet-name>
    <url-pattern>/GsonTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GsonTestServlet2</display-name>
    <servlet-name>GsonTestServlet2</servlet-name>
    <servlet-class>com.eunah.gson.GsonTestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GsonTestServlet2</servlet-name>
    <url-pattern>/GsonTestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GsonTestServlet3</display-name>
    <servlet-name>GsonTestServlet3</servlet-name>
    <servlet-class>com.eunah.gson.GsonTestServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GsonTestServlet3</servlet-name>
    <url-pattern>/GsonTestServlet3</url-pattern>
  </servlet-mapping>
</web-app>